<video class="video-player" autoplay></video>
<div class="chat-container">
  
  <div class="chat-messages-container">
    <div class="ui threaded comments">
      <div class="comment" ng-repeat="msg in messages">
        <a class="avatar">
          <img src="https://avatars2.githubusercontent.com/u/5874495?v=3&s=40">
        </a>
        <div class="content">
          <a class="author">{{msg.name}}</a>
          <div class="metadata">
            <span class="date">{{msg.time}}</span>
          </div>
          <div class="text">{{msg.content}}</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="chat-input-container">
    <div class="ui action input fluid">
      <input type="text" ng-model="message">
      <button class="ui teal right icon button">
        <i class="reply icon"></i>
      </button>
    </div>
  </div>
  
  
</div>