
<div class="absolute-center room-container-card">

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal header sockets-home">
        <div class="content">
          Crie uma sala e compartilhe com seus amigos!
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="talk icon"></i>
              <input type="text" ng-model="roomName" placeholder="Nome da sala">
            </div>
          </div>
          <div ui-sref="adminRoom({ name : roomName })" class="ui fluid large teal submit button">Criar</div>
        </div>
      </form>
    </div>
  </div>

</div>