.video-player {
  display: inline-block;
  height: 100%;
  max-height: 100%;
  max-width: 75%;
  object-fit: cover;
  position: absolute;
  width: 75%;
  left: 0;
  top: 0;
}

.chat-container {
  display: inline-block;
  margin-left: 75%;
  position: absolute;
  width: 25%;
  top: 0;
  height: 100%;
  left: 0;
  background-color: #efeef1;
}

.center-container {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.room-container-card {
  background: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,-25.9),0 2px 1px -1px rgba(0,0,0,.04);
}

.room-container-card-h2 {
  color: #565656;
}

.create-room-form {
  margin-top: 60px;
}

.message-input-container {
  display: block;
  bottom: 0;
  right: 15px;
  position: absolute;
  left: 15px;
}

.message-title {
  font-weight: bold !important;
}